.newPostTable{
    
   // margin-left: 370px;
    margin-top: 20px;
    width: 800px;
    height: 200px;
    background-color: #4E4E50;
    color: #C3073F;
    
    border-radius: 20px;
    border-style: solid;
    border-color: #C3073F;
    
}

.th-post-table{
    text-align: center;
    
    
}
.input1{
    width:500px;
    text-align: center;
    margin-left: 100px;
    border-radius:20px;
    
}
.input2{
    width: 600px;
    height: 200px;
    margin-left: 100px;
    border-radius:20px;
    
}

.button11{
    background-color: #4E4E50;
    border-style: solid;
    border-color: #C3073F;
    color: #C3073F;
    border-radius: 20px;
}
.button11:hover{
    background-color: #C3073F;
   
    color: #4E4E50;
    
}