<div class="div1">
    <h1 class="h21">Your Profile</h1>
    <div class="line1"></div>

    <form [formGroup]="form" (ngSubmit)="sendChangeData()">
        <div class="form-group">
            <label class="h31">First Name:</label>
            <input required class="input1" [(ngModel)]="user.firstName" type="text" formControlName="firstName">
        </div>

        <div class="form-group">
            <label class="h31">Second Name:</label>
            <input required class="input1" [(ngModel)]="user.lastName" type="text" formControlName="lastName">
        </div>

        <div class="form-group">
            <label class="h31">Address:</label>
            <input required class="input1" [(ngModel)]="user.address" type="text" formControlName="address">
        </div>

        <div class="form-group">
            <label class="h31">Country:</label>
            <input required class="input1" [(ngModel)]="user.country" type="text" formControlName="country">
        </div>

        <div class="form-group">
            <label class="h31">Username:</label>
            <input required class="input1" [(ngModel)]="user.username" type="text" formControlName="username">
        </div>

        <div class="form-group">
            <label class="h31">Phone Number:</label>
            <input required class="input1" [(ngModel)]="user.phoneNumber" type="text" formControlName="phoneNumber">
        </div>

        <div class="form-group">
            <label class="h31">Email:</label>
            <input required class="input1" [(ngModel)]="user.email" type="email" formControlName="email">
        </div>

        <div class="form-group">
            <label class="h31">Password:</label>
            <input required class="input1" [(ngModel)]="user.password" type="password" formControlName="password">
        </div>

        <div class="button-container">
            <button type="submit" class="button1 button1-pom">Submit</button>
            <button type="reset" class="button1 button1-pom2">Clear</button>
            <button class="button1 button1-pom3"><a class="a_link" routerLink="/profile">Back</a></button>
        </div>
    </form>

    <div class="line2"></div>
</div>