<ul class="posts comment-pom">
  <li class="list" *ngFor="let comment of comments">
    <table class="post_table">
      <tr>
        <td colspan="3" class="author">@{{comment.user}}</td>
      </tr>
      <tr>
        <td class="spacing_1"></td>
      </tr>
      <tr>
        <td colspan="3">{{comment.desc}}</td>
      </tr>
      <tr>
        <td class="author">
          <div class="interaction-container">
            <input *ngIf="!comment.liked" class="butImg" type="image" src="../../assets/likebutton.png"
              (click)="likeComment(comment.id)">
            <input *ngIf="comment.liked" class="butImg liked" type="image" src="../../assets/likebutton.png" disabled>
            <span class="interaction-count">{{comment.likes}}</span>
          </div>
        </td>
        <td class="author">
          <div class="interaction-container">
            <input *ngIf="!comment.disliked" class="butImg" type="image" src="../../assets/dislikebutton.png"
              (click)="dislikeComment(comment.id)">
            <input *ngIf="comment.disliked" class="butImg disliked" type="image" src="../../assets/dislikebutton.png"
              disabled>
            <span class="interaction-count">{{comment.dislikes}}</span>
          </div>
        </td>
      </tr>
    </table>
  </li>
</ul>

<form class="comment-pom" *ngIf="post.isClosed==0 && loggedIn" [formGroup]="form" (ngSubmit)="sendCommentData()">
  <table class="newCommentTable col-xl-12">
    <tr>
      <th class="th-post-table col-xl-12" colspan="2">NEW COMMENT</th>
    </tr>
    <tr>
      <td class="col-xl-12 description-pom" colspan="2"><textarea placeholder="Write comment" class="input2"
          formControlName="description"></textarea></td>
    </tr>
    <tr>
      <td colspan="2" class="th-post-table"><input class="button11" type="submit"></td>
    </tr>
  </table>
</form>